*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: castle ;
    src: url(../assets/typografias/K26CastleRose.ttf);
    font-family: voyage ;
    src: url(../assets/typografias/K26BonVoyage.ttf);
}


header{
    display: flex;
    background-color: antiquewhite;
    background-size: cover;
    width: 100%;
    height: 3.125rem;
    justify-content: space-between;
    
}

h1{
    color: rgb(13, 91, 100);
background-color: rgba(28, 156, 191, 0.913);
letter-spacing: .3125rem;
font-size: 2.5rem;
font-weight: bold;
width: 12.5rem;
height: 3.125rem;
font-family: castle ;
}



.navbar{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
    padding-right: 1.25rem;
    
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem; ;
}

main{
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(10, 85, 95);
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 100%; */
}


main h2{
    text-align: center;
}
main p{
    text-align: center;
}
form{
    width: 100%;
    height: 37.5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    gap: 1.25rem;

    }
form h2{
    font-size: 2.5rem;
}
main fieldset{
    text-align: center;
}
.sectionPrincipal {
        background-image: url(../assets/img/jeremy-bishop-_CFv3bntQlQ-unsplash.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 62.5rem;
    }

.cajas{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    }

.sectionNos{
    display: flex;
    gap: .625rem;
    padding: .625rem;
}

.nosText{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    padding-left: 1.25rem;

}
.nosText h2{
    font-size: 2.5rem;


}
.nosText p{
    font-size: 1.5625rem;
    
}
.nosContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    justify-content:space-around;
    width: 100%;
    gap: .625rem;
    
    
}
.nos{
    width: 25rem;
    height: 25rem;
    border-radius: 10%;
    
}
.trip{
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 10%;
}
.surftripContainer{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /* height: 31.25rem; */
    justify-content: space-evenly;
    gap: 1.25rem;
    padding-left: 6.25rem;
}
.tablasContainer{
    display: flex;
    flex-flow: row wrap ;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
    
    gap: 1.25rem;
    
    
}
.tablasContainer article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.tablas{

    
    height: 12.5rem;
    border-radius: 10%;
    

}


.sectionSecundaria{

    text-align: center;
    font-size: 1.875rem;

}
.sectionSecundaria h2 a{
    text-decoration: none;
    color: black;
    font-family: voyage ;
}

footer{
    display: flex;
    background-size: cover;
    width: 100%;

    justify-content: space-between;
    background-color: rgb(18, 235, 224);
    align-items: center;

}
footer div{
    display: flex;
    align-items: center;
    gap: .625rem;
    padding-left: .625rem;
}
@media (max-width:768px){
    .navbar{
        justify-content: flex-start;
        gap: .4375rem;
        background-color: rgba(0, 0, 0, 0.108);
    }
    main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

