* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: castle;
  src: url(../assets/typografias/K26CastleRose.ttf);
  font-family: voyage;
  src: url(../assets/typografias/K26BonVoyage.ttf); }

header {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important; }
  header div h1 {
    color: #0d5b64;
    background-color: rgba(28, 156, 191, 0.913);
    letter-spacing: .3125rem;
    font-size: 2.5rem;
    font-weight: bold;
    width: 12.5rem;
    height: 4.0625rem;
    font-family: castle;
    margin-bottom: 0; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
  padding-right: 1.25rem;
  align-content: center; }
  .navbar li a {
    text-decoration: none;
    font-size: 1.25rem; }

main {
  display: flex;
  flex-flow: column wrap;
  background-color: #0d5b64;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; }
  main h2 {
    text-align: center; }
  main p {
    text-align: center; }

.sectionPrincipal {
  background-image: url(../assets/img/jeremy-bishop-_CFv3bntQlQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 62.5rem; }

.sectionSecundaria {
  text-align: center;
  font-size: 1.875rem; }
  .sectionSecundaria h2 a {
    text-decoration: none;
    color: black;
    font-family: voyage; }

.cajas {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%; }

.sectionNos {
  display: flex;
  gap: .625rem;
  padding: .625rem; }

.nosText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  width: 90%;
  padding-left: 1.25rem; }
  .nosText h2 {
    font-size: 2.5rem; }
  .nosText p {
    font-size: 1.5625rem; }

.nosContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.625rem;
  justify-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: .625rem; }

.nos {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 10%; }

.trip {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 10%; }

.surftripContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 1.25rem;
  padding-left: 6.25rem; }

.tablasContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-content: none;
  grid-template-areas: "tablas1 tablas5 tablas3" "tablas2 tablas5 tablas4"; }
  .tablasContainer article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none; }

.tablas1 {
  grid-area: tablas1; }

.tablas2 {
  grid-area: tablas2; }

tablas3 {
  grid-area: tablas3; }

.tablas4 {
  grid-area: tablas4; }

.tablas5 {
  grid-area: tablas5; }

.tablas {
  height: 12.5rem;
  border-radius: 10%; }

.bootsTrap {
  height: 37.5rem;
  gap: .3125rem; }

footer {
  display: flex;
  background-size: cover;
  width: 100%;
  justify-content: space-between;
  background-color: #12ebe0;
  align-items: center; }
  footer div {
    display: flex;
    align-items: center;
    gap: .625rem;
    padding-left: .625rem; }

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none; }
  .navbar {
    justify-content: flex-start;
    gap: .4375rem; }
  .surftripContainer {
    padding-left: 0; } }

@media (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column; }
    header h1 {
      height: 3.5625rem; }
  .navbar {
    height: 100%; }
    .navbar li a {
      font-size: .625rem; }
  .tablasContainer {
    display: flex;
    width: 100%;
    gap: 1.25rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
    .tablasContainer article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      align-content: center; }
  .sectionNos {
    display: flex;
    gap: .625rem;
    padding: 0;
    flex-direction: column; }
  .nosText h2 {
    font-size: 1.875rem; }
  .nosText p {
    font-size: 1.25rem; } }
